<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>Music Store</title>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
</head>
<!-- NAVBAR -->

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url_for('showCategories')}}">
    <img class="logo" src="https://images.pexels.com/photos/164929/pexels-photo-164929.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="Music Store">
    Music Store
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      {% for i in categories%}
      <li class="nav-item">
          <a class="nav-link" href="{{url_for('showItems', category_id=i.id)}}">{{i.name}}</a>
      </li>
      {% endfor %}
      <li class="nav-item">
        <a class="nav-link" href="#items">Items</a>
      </li>
      {% if 'username' not in session %}
      <a href="{{url_for('showLogin')}}" class="navbar-text navbar-margin-btn">
        <button type="button" class="btn btn-default navbar-btn">
        Log In
        </button>
      </a>
      {% else %}
      <a href="{{url_for('gdisconnect')}}" class="navbar-text navbar-margin-btn">
        <button type="button" class="btn btn-default navbar-btn">
        Logout
        </button>
      </a>
      {% endif %}
<!--/gplus signin-->
    </ul>
  </div>
</nav>

    <div class='flash text-center'>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
        <ul class="list-unstyled">
            {% for category, message in messages %}
            <li>
                {% if category == 'error'%}
                <h2 class="bg-danger"> {{ message }}</h2></li>
            {% else %}
            <h2 class="bg-success"> {{ message }}</h2></li>
            {% endif %} {% endfor %}
        </ul>
        {% endif %} {% endwith %}
    </div>





    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!--Google Login-->
    <script>
    function signInCallback(authResult) {
      if (authResult['code']) {
        //Hide the sign-in button once the user is authorized
        $('#login').attr('style','display:none');
        // Send one-time-use code to the server, if server responds,
        // write a 'login successful' message to the web page and then
        // redirect back to the main restaurants page
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          processData: false,
          data: authResult['code'],
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...');
              setTimeout(function() {
                window.location.href = "/catalog";
              }, 4000);
            } else if (authResult['error']) {
              console.log('There was an error: ' + authResult['error']);
            } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }
          },
          error: function(result) {
            console.log('There was an error: ' + result);
          }
      }); } }
    </script>
<!--/Google Login-->


</body>

</html>