 {% include "header.html" %}
 <div class="container-fluid">
    <div class="row text-center">
    <form action="{{ url_for('editItem', category_id = category_id, item_id=item_id)}}" method='post'>
      <label for="title">Title:</label>
      <input type="text" name='title' value="{{item.name}}" placeholder = {{item.name}}> <br>
      <label for="description">Description:</label> <br>
      <textarea name="description" rows="8" cols="40">{{item.description}}</textarea><br> <br>
      <input class="btn btn-block btn-success center" type='submit' value='Update'>
	</form>
    <br>
    </div>
</div>